<section>
    <div class="container mt-2">

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Coupon
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/admin/addCoupon" method="post">
      <div class="modal-body">
          <label for="">Coupon Name</label>
          <input type="text" name="coupon"  class="form-control">
          <label for="">Enter the percentage</label>
          <input type="number" name="percentage"  class="form-control">
          <label for="">Enter offer end date</label>
          <input type="date" name="endoffer"  class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>

    </div>
  </div>
</div>

    </div>
</section>
<section>
    <div class="container mt-3">
    <hr>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">NAME</th>
      <th scope="col">OFFER</th>
      <th scope="col">date</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
  <tbody>
      {{#each coupon}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{this.coupon}}</td>
      <td>{{this.percentage}}%</td>
      <td>{{this.endoffer}}</td>
      <td><a class="btn btn-danger" href="/admin/delete-coupon/{{this._id}}">delete</a></td>
  
    </tr>
    {{/each}}
  
  </tbody>
</table>
</div>
</section>