<section class=style="background-color: #d2c9ff;height: 100%;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">{{cartCOunt}} items</h6>
                  </div>
                  <hr class="my-4">

                  {{#each items}}

                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img src="/product-images/{{product.images.[0]}}" class="img-fluid rounded-3"
                        alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{this.product.Name}}</h6>
                      <h6 class="text-black mb-0">{{this.product.Description}}</h6>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">Rs {{this.product.Price}}</h6>
                    </div>

                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button class="btn btn-link px-2"
                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{this.quantity}}',-1)">

                        <span>-</span>

                      </button>


                      <span id="{{this.product._id}}">{{this.quantity}}</span>

                      <button class="btn btn-link px-2"
                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{this.quantity}}',1)">
                        <span>+</span>
                      </button>
                    </div>

                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                  </div>


                  <hr class="my-4">


                  {{/each}}




                  <div class="pt-5">
                    <h6 class="mb-0"><a href="#!" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Back
                        to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">


                  </div>

                  {{!-- <h5 class="text-uppercase mb-3">Shipping</h5> --}}



                  <h5 class="text-uppercase mb-3">Give code</h5>

                  <div class="mb-5">
                    <div class="form-outline">
                      <input type="text" class="form-control form-control-lg" id="coupon" />
                      <label class="form-label" for="form3Examplea2">Enter your code</label> <br>
                      <button class="btn btn-success m-1" type="button" onclick="applyCoupon('{{user._id}}')">Apply
                        coupon</button>
                      {{#if_eq coupon 0}}
                      {{else}}
                      <div>
                        <p><b class="text-success"> Coupon applied </b> <button class="btn" type="button" id="removebtn"
                            onclick="removeCoupon('{{user._id}}')"> <span class="text-danger"> <i
                                class="bi bi-x-octagon"></i></span> </button></p>
                      </div>
                      {{/if_eq}}
                    </div>
                  </div>
                  {{!----------------------------- referral code ----------------------}}
                  <hr>
                  <div class="mb-5">
                    <div class="form-outline">
                      <input type="text" class="form-control form-control-lg" id="referral" />
                      <label class="form-label" for="form3Examplea2">Enter your referral code</label> <br>
                      <button class="btn btn-success m-1" type="button" onclick="applyreFerral('{{user._id}}')">Apply
                        code</button>
                      {{!-- {{#if coupon }}
                      {{else}}
                      <div>
                        <p><b class="text-success"> Coupon applied </b> <button class="btn" type="button" id="removebtn"
                            onclick="removeCoupon('{{user._id}}')"> <span class="text-danger"> <i
                                class="bi bi-x-octagon"></i></span> </button></p>
                      </div>
                      {{/if}} --}}
                    </div>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Wallet Balance</h5>
                    <h5>RS. <span >{{wallet}}</span></h5>
                  </div>
                  <hr class="my-4">

                  <div class="d-flex-row justify-content-center mb-5">
                    <p>  <span class="text-danger">*</span><span style="font-size: xx-small; font-weight: 900;" class="text-success">Total price to pay = total Price - wallet balance</span><span class="text-danger">*</span></p>
                    
               
                  </div>
                  <div class="d-flex justify-content-between mb-5">
                   
                    
                    <h5 class="text-uppercase">Total price to pay</h5>
                    <h5>RS. <span id="total">{{total}}</span></h5>
                  </div>

                  <button type="button" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark"> <a
                      href="/saved-address">Place order</a> </button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @media (min-width: 1025px) {
    .h-custom {
      height: 100vh !important;
    }
  }

  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }

  .card-registration .select-arrow {
    top: 13px;
  }

  .bg-grey {
    background-color: #eae8e8;
  }

  @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }

  @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }
</style>


<script>

  function changeQuantity(cartId, proId, qty, count) {
    let qnty = document.getElementById(proId).innerHTML


    $.ajax({
      url: '/change-product-quantity',
      data: {
        cart: cartId,
        product: proId,
        count: count,
        qty: qnty
      },
      method: 'post',
      success: (response) => {

        if (response.removedItem) {

          Swal.fire(
            "Deleted!",
            "Your product has been deleted.",
            "success"
          ).then((result) => {
            if (result.isConfirmed) {

              location.reload();
            }


          })



        }

        else {

          qty2 = parseInt(qnty)
          count = parseInt(count)
          //let c = qty + count

          document.getElementById(proId).innerHTML = parseInt(qty2 + count)
          document.getElementById('total').innerHTML = response.total



        }
      }
    })
  }

  function applyCoupon(id) {
    let coupon = document.getElementById('coupon').value
    if (coupon == '') {
      Swal.fire(
        'Enter your coupon',
        'You clicked the button!',
        'error'
      )
    } else {


      $.ajax({
        url: '/admin/applycoupon',
        data: {
          userid: id,
          enteredcoupon: coupon

        },
        method: 'post',
        success: (response) => {
          if (response.status) {
            Swal.fire({

              icon: 'success',
              title: 'Coupon is applyed',


              confirmButtonText: 'ok',
            }).then((result) => {
              console.log(result)
              if (result.isConfirmed) {

                location.reload();
              }
            })

          } else if (response.usedStatus) {
            Swal.fire({

              icon: 'error',
              title: 'Already used',

              timer: 1500,
              confirmButtonText: 'ok',
            })
          }

          else {

            Swal.fire({

              icon: 'error',
              title: 'No coupon available',

              timer: 1500,
              confirmButtonText: 'ok',
            })

          }
        }
      })
    }
  }

  function removeCoupon(id) {
    $.ajax({
      url: '/admin/removeCoupon',
      data: {
        userid: id
      },
      method: 'post',
      success: (response) => {
        if (response.status) {
          Swal.fire({

            icon: 'success',
            title: 'Coupon is removed',


            confirmButtonText: 'ok',
          }).then((result) => {
            console.log(result)
            if (result.isConfirmed) {

              location.reload();
            }
          })

        }

      }
    })

  }
  function applyreFerral(id) {
    let referralcode = document.getElementById('referral').value
    if (referralcode == '') {
      Swal.fire(
        'Enter your referral code',
        'You clicked the button!',
        'error'
      )
    } else {



      $.ajax({
        url: '/referral-code',
        data: {
          userid: id,
          referralCode: referralcode
        },
        method: "post",
        success: (response) => {
          if (response.status) {
            Swal.fire({

              icon: 'success',
              title: 'Coupon is removed',

              timer: 1500,
              confirmButtonText: 'ok',
            }).then((result) => {
              console.log(result)
              if (result.isConfirmed) {

                location.reload();
              }
            })

          } else if (response.statusInvalid) {
            Swal.fire({

              icon: 'error',
              title: 'Invaild Referral',

              timer: 3000,
              confirmButtonText: 'ok',
            })

          } else {
            Swal.fire({

              icon: 'error',
              title: 'You can not user your own Referral Code',

              timer: 3000,
              confirmButtonText: 'ok',
            })

          }

        }
      })

    }
  }
</script>